* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  align-items: center;
  height: 100vh;
}

.container {
  width: 900px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.square {
  background-color: #1d1d1d;
  height: 40px;
  width: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  transition: 2s ease;
}

.square:hover {
  transition: 0s;
}
